    <% if model.errors.any? %>
        <div id="error_explanation" class="alert alert-danger">
        <h2><%= pluralize(model.errors.count, t("error")) %> <%= t("prohibited_from_saving")%></h2>
        <ul>
            <% model.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
        </ul>
        </div>
    <% end %>