<div class="container my-5">
  <div class="card">
    <div class="card-header">
      <h4><%= t("import_excel_file") %></h4>
    </div>
    <div class="card-body">
      <%= form_with url: import_excel_masters_path, local: true, method: :post, multipart: true do |form| %>
        <div class="mb-3">
          <%= form.file_field :file, class: "form-control" %>
        </div>
        <%= form.submit t("import_excel"), class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>