<div class="container mt-4">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h2>Edit Reply Option</h2>

      <%= render "form", chatbot_button_reply: @chatbot_button_reply %>
    </div>
  </div>
</div>



